* {  
box-sizing: border-box;
font-size: 16px;
font-family: Comic Sans MS, Serif;
}

/*Header*/
#navheader {
	background-color:#EE9098 ;

}

.navbar-brand {

}

#relationshiptab {
	background-color: #65BC89 ;
}


/*Mainbody*/


#maincontent {
	background-color:#89CFF0 ;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
}
h1 { 
	font-family: Comic Sans MS;

}

/*UsPage USpage */
#usmaincontent {
	font-weight: normal;
	color: #89CFF0;
	margin: 0 10px 0 10px;
}

#usmaincontent h1 {
	font-size: 250%;
	text-shadow: 2px 2px 3px #666666;
	padding-bottom: 10px;
}
#usmaincontent h2 {
	font-size: 90%;
	text-transform: uppercase;
	letter-spacing: 0.2em;

}
#usmaincontent h3 {
	font-size: 150%;

}
#usmaincontent p { 
	color:black; 
}

/*explorepage 1 Eskisehir- a minisnippet of me and ebru*/

/*set the page background design*/
.gallery {
	background-color:#89CFF0 ;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Comic Sans MS;
	text-align: center;
	padding: 20px 0;
}

/*separated the header from the navbar and photo gallery*/
.gallery h1{
	padding-bottom: 20px;
}

/*made the images look like an actual photo with some shadowing*/
.gallery img{
	background-color: #ffffff;
	padding: 15px;
	box-shadow: 0 0 15px rgba(0,0,0);
	margin-bottom: 40px;
	max-width: 100%;
}